<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ArticleServlet</servlet-name>
        <servlet-class>servlet.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>servlet.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DuLichServlet</servlet-name>
        <servlet-class>servlet.DuLichServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AnUongServlet</servlet-name>
        <servlet-class>servlet.AnUongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CheckEmailServlet</servlet-name>
        <servlet-class>servlet.CheckEmailServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlet.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>servlet.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagServlet</servlet-name>
        <servlet-class>servlet.TagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginAdmin</servlet-name>
        <servlet-class>servlet.admin.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoryServlet</servlet-name>
        <servlet-class>servlet.admin.CategoryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminArticleServlet</servlet-name>
        <servlet-class>servlet.admin.ArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>servlet.admin.FileUploadServlet</servlet-class>
        <multipart-config>
            <max-file-size>10485760</max-file-size>
            <max-request-size>20971520</max-request-size>
            <file-size-threshold>5242880</file-size-threshold>
        </multipart-config>
    </servlet>
    <servlet>
        <servlet-name>ImageServlet</servlet-name>
        <servlet-class>servlet.ImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddArticleServlet</servlet-name>
        <servlet-class>servlet.admin.AddArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TagAdminServlet</servlet-name>
        <servlet-class>servlet.admin.TagServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditArticleServlet</servlet-name>
        <servlet-class>servlet.admin.EditArticleServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>servlet.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminUserServlet</servlet-name>
        <servlet-class>servlet.admin.UserServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditUserServlet</servlet-name>
        <servlet-class>servlet.admin.EditUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ArticleServlet</servlet-name>
        <url-pattern>/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DuLichServlet</servlet-name>
        <url-pattern>/du-lich</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AnUongServlet</servlet-name>
        <url-pattern>/an-uong</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CheckEmailServlet</servlet-name>
        <url-pattern>/CheckEmailServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/CommentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagServlet</servlet-name>
        <url-pattern>/tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginAdmin</servlet-name>
        <url-pattern>/admin/</url-pattern>
        <url-pattern>/admin/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoryServlet</servlet-name>
        <url-pattern>/admin/category</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminArticleServlet</servlet-name>
        <url-pattern>/admin/article</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ImageServlet</servlet-name>
        <url-pattern>/images/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddArticleServlet</servlet-name>
        <url-pattern>/admin/article/add</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TagAdminServlet</servlet-name>
        <url-pattern>/admin/tag</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditArticleServlet</servlet-name>
        <url-pattern>/admin/article/edit</url-pattern>
        <url-pattern>/admin/article/edit/*</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>LoginAdminFilter</filter-name>
        <filter-class>filter.LoginAdminFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginAdminFilter</filter-name>
        <url-pattern>/admin/article/*</url-pattern>
        <url-pattern>/admin/index.jsp</url-pattern>
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/search</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminUserServlet</servlet-name>
        <url-pattern>/admin/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditUserServlet</servlet-name>
        <url-pattern>/admin/user/edit</url-pattern>
        <url-pattern>/admin/user/edit/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            600
        </session-timeout>
    </session-config>
</web-app>
